.clickable-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw; /* 90% of the viewport width */
  height: 80vh; /* 80% of the viewport height */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; /* Neutral font */
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: #b30000;
  user-select: none;
  border: 2px solid #ffffff; /* Add a border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.clickable-text p {
  margin: 10px 0 0 0;
  font-size: 2em; /* Increase font size */
}

.clickable-text img {
  max-width: 100%;
  max-height: 50vh; /* Adjust max height to fill most of the screen */
  border-radius: 8px;
  margin-bottom: 10px;
}

.clickable-text:active {
  background-color: #ffffff;
}